<% include ./partials/header %>
<div class="container">
    <header class="header">
        <h1>Current calendar for Bay Area Concerts</h1>
    </header>
    
    <div class="wrapper">
        <div id="left" class="upcoming-events-list">
            <header>
                <h1>Shows coming up at some <span>Bay Area Venues</span></h1>
            </header>
            <ul>
                <% if (artists.length > 0) { %>
                <% artists.forEach(function(artist){  %>
                <div class="entry">
                    <div class="row">
                        <li class="artist-name">
                            <span id="artistName"><%= artist %></span>
                            <span id="date"><%= artists[artist].date %></span>
                            <i><span id="venue"><%= artists[artist].venue %></span></i>
                        </li>
                    </div>
                </div>
                
                
                <% }); %>
                <% } %>
            </ul>
            
        </div>
        <div id="results">
        </div>
        
    </div>
</div>

    <script id="results-template" type="text/x-handlebars-template">
        {{#each albums.items}}
        <div style="background-image:url({{images.0.url}})" data-album-id="{{id}}" class="cover"></div>
        {{/each}}
    </script>

<% include ./partials/footer %>